<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: default_head(~{::title})">
    <title>Books List</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Books
                <a href="book-form.html" class="btn btn-outline-primary btn-sm" role="button"
                   th:href="@{/library/book/save}">Save new</a>
            </h2>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col">
            <a href="home-page.html" class="btn btn-info btn-sm" role="button" th:href="@{/library}">← Home</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.id}">1</td>
                    <td>
                        <a href="book-details.html" th:href="@{/library/book(id=${book.id})}"
                           th:text="${book.title}">Book
                            Title</a>
                    </td>
                    <td th:text="${book.year}">1970</td>
                    <td th:text="${book.authorName}">John Doe</td>
                    <td th:text="${book.genreName}">Crime fiction</td>
                    <td>
                        <form method="POST" th:action="@{/library/book/delete(id=${book.id})}">
                            <button class="btn btn-outline-danger btn-sm" type="submit" name="delete" value="delete">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>