<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: default_head(~{::title})">
    <title>Comment Form</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="base :: header('Comment')"></div>
    <div class="row">
        <div class="col-6">
            <form method="POST" th:action="@{/library/comment/save}" action="javascript:history.back()">
                <div>
                    <input id="commentBookId" type="hidden" name="commentBookId" th:field="${comment.bookId}">
                </div>
                <div class="form-group">
                    <label for="commentUser">User</label>
                    <input class="form-control" id="commentUser" type="text" name="commentUser" placeholder="Guest"
                           th:field="${comment.user}">
                </div>
                <div class="form-group">
                    <label for="commentText">Text</label>
                    <textarea class="form-control" id="commentText" rows="7" cols="30" name="commentText"
                              th:field="${comment.text}"
                              required></textarea>
                </div>
                <div>
                    <button class="btn btn-info btn-sm" type="submit">Save</button>
                    <a href="javascript:history.back()" class="btn btn-info btn-sm" role="button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>