<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: default_head(~{::title})">
    <title>Author Details</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="base :: header('Author Details')"></div>
    <div class="row mb-1">
        <div class="col">
            <a href="authors.html" class="btn btn-info btn-sm" role="button" th:href="@{/library/authors}">← To author list</a>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-8">
            <table class="table table-sm">
                <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${author.id}">1</td>
                    <td th:text="${author.name}">John Doe</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Year</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${author.books}">
                    <td th:text="${book.id}">1</td>
                    <td>
                        <a href="book-details.html" th:href="@{/library/book(id=${book.id})}" th:text="${book.title}">Book
                            Title</a>
                    </td>
                    <td th:text="${book.year}">1970</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>