<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="exerciseLoader" class="ru.otus.erinary.hw01.quiz.dao.FileExerciseLoader">
        <constructor-arg name="fileName" value="exercise.csv"/>
    </bean>

    <bean id="exerciseService" class="ru.otus.erinary.hw01.quiz.service.exercise.ExerciseServiceImpl">
        <constructor-arg name="loader" ref="exerciseLoader"/>
    </bean>

    <bean id="userInteractionService" class="ru.otus.erinary.hw01.quiz.service.interaction.ScannerService">
        <constructor-arg name="factory" ref="scannerFactory"/>
    </bean>

    <bean id="quizService" class="ru.otus.erinary.hw01.quiz.service.QuizService">
        <constructor-arg name="exerciseService" ref="exerciseService"/>
        <constructor-arg name="userInteractionService" ref="userInteractionService"/>
    </bean>

    <bean id="scannerFactory" class="ru.otus.erinary.hw01.quiz.service.interaction.scanner.ConsoleScannerFactory"/>

</beans>