<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genres List</title>
</head>
<body>
<div>
    <h2>Genres</h2>
    <a href="home-page.html" th:href="@{/library}">← Home</a>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genre : ${genres}">
            <td th:text="${genre.id}">1</td>
            <td>
                <a href="genre-details.html" th:href="@{/library/genre(id=${genre.id})}" th:text="${genre.name}">Crime fiction</a>
            </td>
            <td>
                <form method="POST" th:action="@{/library/genre/delete(id=${genre.id})}">
                    <button type="submit" name="delete" value="delete">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>